<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<meta name="description"
	content="We advocate and promote the full legal rights of our members to live and work as Ghanaian spouses do. We are members of Ghanaian families and therefore uphold the importance of the family in the full development of the individual and the nation.
" />
<meta name="keywords"
	content="Ghana,Immigration,Marriage,Inheritance,Dual-Nationality,Dual-Citizenship,Residents Permit,Intestate Law,Foreign Spouses,Expats">
<meta name="author" content="ISAG-Ghana">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="../viewResources/images/logo.png">
<meta name="theme-color" content="#ffffff">
<!-- Facebook meta data -->
<meta property="fb:app_id" content="1871408619767453" />
<meta property="fb:admins" content="xxx" />
<meta property="og:url"
	content="http://isag-ghana.uksouth.cloudapp.azure.com/alpha/member/frequently-asked-questions" />
<meta property="og:title" content="ISAG-Frequently Asked Questions" />
<meta property="og:description"
	content="We advocate and promote the full legal rights of our members to live and work as Ghanaian spouses do. We are members of Ghanaian families and therefore uphold the importance of the family in the full development of the individual and the nation.
" />
<meta property="og:image" content="../viewResources/images/logo.png" />

<title>ISAG-Frequently Asked Questions</title>

<!-- Bootstrap -->
<link
	th:href="@{../viewResources/bootstrap3/vendors/bootstrap/dist/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Font Awesome -->
<link
	th:href="@{../viewResources/bootstrap3/vendors/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet">

<!-- NProgress -->
<link
	th:href="@{../viewResources/bootstrap3/vendors/nprogress/nprogress.css}"
	rel="stylesheet">

<!-- jQuery custom content scroller -->
<link
	th:href="@{../viewResources/bootstrap3/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
	rel="stylesheet" />

<!-- Custom Theme Style -->
<link th:href="@{../viewResources/bootstrap3/build/css/custom.min.css}"
	rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{../viewResources/images/HomePage/Favicons/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	th:href="@{../viewResources/images/HomePage/Favicons/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{../viewResources/images/HomePage/Favicons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{../viewResources/images/HomePage/Favicons/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{../viewResources/images/HomePage/Favicons/favicon-16x16.png}">
<link rel="manifest"
	th:href="@{../viewResources/images/HomePage/Favicons/manifest.json}">
</head>

<body class="nav-md">
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '1871408619767453',
				xfbml : true,
				version : 'v2.8'
			});
			FB.AppEvents.logPageView();
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="container body">
		<div class="main_container">

			<!-- Side Bar -->
			<div th:include="fragments/inner-side-bar :: side-bar"></div>
			<!-- End of Side Bar -->

			<!-- page content -->
			<div class="right_col" role="main">
				<!-- Banner Adverts -->
				<div th:include="fragments/adverts-inner :: banner-adverts"></div>
				<!-- Banner Adverts -->
				<div class="clearfix"></div>

				<div id="wrapper">
					<div id="page-wrapper">
						<!-- /.row -->
						<div class="row">
							<div class="col-lg-8">
								<div class="panel panel-default">
									<div class="alert alert-warning" role="alert"
										style="margin: 0%;">
										<h2>
											<strong>Ask ISAG</strong>
										</h2>
									</div>
									<div class="x_panel" style="border-bottom: none;">
										<div class="x_content">
											<form class="form-horizontal form-label-left input_mask"
												th:action="@{frequently-asked-questions}"
												th:object="${questionsFormDTO}" method="POST">
												<div th:if="${#fields.hasErrors('*')}"
													class="alert alert-danger alert-dismissible fade in"
													id="formsDiv">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
													<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
												</div>
												<div th:if="${success}"
													class="alert alert-success alert-dismissible fade in"
													id="formsDiv">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
													<p th:text="${success}"
														style="text-align: center; font-size: medium;"></p>
												</div>
												<div th:if="${error}"
													class="alert alert-danger alert-dismissible fade in"
													id="formsDiv">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
													<p th:text="${error}"
														style="text-align: center; font-size: medium;"></p>
												</div>
												<div class="col-xs-12 form-group">
													<label>Enter the category that best fits your
														question below, using #HashTags</label> <input type="text"
														class="form-control" id="tags"
														placeholder="Example:   #Immigration   #ResidencePermit  #DualNationality"
														name="tags">
												</div>
												<div class="col-md-12 form-group"
													th:classappend="${#fields.hasErrors('question')}? 'has-error'">
													<textarea rows="2" class="form-control" id="inputSuccess2"
														placeholder="Your question here" name="title"
														th:field="*{question}" required="required"></textarea>
												</div>
												<div class="form-group">
													<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
														<button class="btn btn-primary" type="reset">Cancel</button>
														<button type="submit" class="btn btn-success">Ask
															ISAG</button>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="alert alert-warning" role="alert"
										style="margin: 0%;">
										<h2>
											<strong>Frequently Asked Questions</strong>
										</h2>
									</div>
									<div class="x_panel" style="border-bottom: none;">
										<div class="x_content">
											<br />
											<ul class="list-unstyled timeline">
												<li>
													<div class="block" style="margin-left: 35%;">
														<div class="tags" style="width: 27%;">
															<a href="" class="tag"> <span>Indefinite
																	Residence Permit</span>
															</a>
														</div>
														<div class="block_content">
															<h2 class="title" style="text-align: justify;">
																<a>I am married to a Ghanaian and lived in Ghana for
																	3 years. Can I apply for the Indefinite Residence
																	Permit?</a>
															</h2>
															<div class="byline">
																<br /> <span>Reviewed about a year ago</span><br />
															</div>
															<p class="excerpt" style="text-align: justify;">
																<a>Prior to your application, you should have lived
																	in Ghana throughout for 12 months, preceeding that for
																	an aggregate of 5 years within a 7 year period.</a>
															</p>
														</div>
													</div>
												</li>
												<li>
													<div class="block" style="margin-left: 35%;">
														<div class="tags" style="width: 27%;">
															<a href="" class="tag"> <span>Indefinite
																	Residence Permit</span>
															</a>
														</div>
														<div class="block_content">
															<h2 class="title" style="text-align: justify;">
																<a>I am on a visitor's visa and keep renewing it.
																	Can I apply for the indefinite residence permit?</a>
															</h2>
															<div class="byline">
																<br /> <span>Reviewed about a year ago</span><br />
															</div>
															<p class="excerpt" style="text-align: justify;">
																<a>No. You should have a valid residence permit
																	before applying for the indefinite permit.</a>
															</p>
														</div>
													</div>
												</li>
												<li>
													<div class="block" style="margin-left: 35%;">
														<div class="tags" style="width: 27%;">
															<a href="" class="tag"> <span>Indefinite
																	Residence Permit</span>
															</a>
														</div>
														<div class="block_content">
															<h2 class="title" style="text-align: justify;">
																<a>Does my indefinite residence permit expire?</a>
															</h2>
															<div class="byline">
																<br /> <span>Reviewed about a year ago</span><br />
															</div>
															<p class="excerpt" style="text-align: justify;">
																<a> Yes. If you leave Ghana for a period of 12
																	months and more, you have to reapply.</a>
															</p>
														</div>
													</div>
												</li>
												<li>
													<div class="block" style="margin-left: 35%;">
														<div class="tags" style="width: 27%;">
															<a href="" class="tag"> <span>Indefinite
																	Residence Permit</span>
															</a>
														</div>
														<div class="block_content">
															<h2 class="title" style="text-align: justify;">
																<a>What are the benefits of an indefinite residence
																	permit?</a>
															</h2>
															<div class="byline">
																<br /> <span>Reviewed about a year ago</span><br />
															</div>
															<p class="excerpt" style="text-align: justify;">
																<a>You are entitled to live and work in Ghana, enter
																	without a visa and your dependant child is eligible for
																	a dependant's permit.</a>
															</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<form style="margin-left: 1%;" th:action="@{questions}"
										method="GET">
										<button style="float: right; width: 100%;" type="submit"
											class="btn btn-warning btn-lg">View More Questions
											with Answers Here</button>
									</form>
									<div sec:authorize="isAuthenticated()">
										<!-- /.panel-body -->
										<div class="alert alert-success has-feedback" role="alert"
											style="margin: 0%; padding: 0%; padding-left: 15px; margin-left: 1%; margin-right: 1%;">
											<h2>
												<strong>Share Your Thoughts With Us | Comment
													Below!</strong><span class="fa fa-comments-o feedback right"
													aria-hidden="true"
													style="font-size: 25px !important; padding-right: 15px;"></span>
											</h2>
										</div>
										<div class="panel-body">
											<div>
												<div class="fb-like"
													th:attr="data-href= 'http://isag-ghana.uksouth.cloudapp.azure.com/alpha/member/frequently-asked-questions/'"
													data-layout="button_count" data-action="like"
													data-size="large" data-show-faces="true" data-share="false"></div>
												<div class="fb-share-button"
													th:attr="data-href= 'http://isag-ghana.uksouth.cloudapp.azure.com/alpha/member/frequently-asked-questions/'"
													data-layout="button_count" data-size="large"
													data-mobile-iframe="true">
													<a class="fb-xfbml-parse-ignore" target="_blank"
														href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Falpha%2Fnews%2Ftitle&amp;src=sdkpreparse">Share</a>
												</div>
											</div>

											<div class="fb-comments"
												th:attr="data-href= 'http://isag-ghana.uksouth.cloudapp.azure.com/alpha/member/frequently-asked-questions/'"
												data-width="675" data-numposts="5"></div>
										</div>
									</div>
								</div>
								<!-- /.panel -->
							</div>
							<!-- /.col-lg-8 -->
							<div class="col-lg-4">
								<div class="panel panel-default">
									<div class="alert alert-success has-feedback" role="alert"
										style="margin: 0%; padding: 0%; padding-left: 15px;">
										<h2>
											<strong>Our Partners And Sponsors</strong><span
												class="fa fa-certificate feedback right" aria-hidden="true"
												style="font-size: 25px !important; padding-right: 15px;"></span>
										</h2>
									</div>
									<!-- /.panel-heading -->
									<div class="panel-body">
										<a th:href="@{#}" class="list-group-item"> <img
											th:src="@{../viewResources/images/advertise-here-300x300.jpg}"
											alt="Flower" class="img-responsive">
										</a>
									</div>
									<!-- /.panel-body -->
								</div>
							</div>
							<!-- /.col-lg-4 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /#page-wrapper -->

				</div>
				<!-- /#wrapper -->
			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Developed By: <a href='https://www.linkedin.com/in/prempeh-gyan'
						target="_blank">Prempeh Gyan</a> | &copy; 2017
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script
		th:src="@{../viewResources/bootstrap3/vendors/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap -->
	<script
		th:src="@{../viewResources/bootstrap3/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- FastClick -->
	<script
		th:src="@{../viewResources/bootstrap3/vendors/fastclick/lib/fastclick.js}"></script>

	<!-- NProgress -->
	<script
		th:src="@{../viewResources/bootstrap3/vendors/nprogress/nprogress.js}"></script>

	<!-- jQuery custom content scroller -->
	<script
		th:src="@{../viewResources/bootstrap3/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

	<!-- Custom Theme Scripts -->
	<script th:src="@{../viewResources/bootstrap3/build/js/custom.min.js}"></script>
</body>
</html>








